body{margin:0px;background-color:#2C2A23;}
#headerBody{background-color:#2C2A23;width:100%;height:76px;position:fixed;top:0px;left:0px;z-index:10;}
#hBack{background-color:#2C2A23;width:100%;height:76px;}
#header .respDisp{background-color:#2C2A23;width:100%;height:38px;position:relative;text-align:center;}
#menu{position: absolute;right:70px;height:76px;top:0px;}
#menu div{display:inline-block;color:#CECECE;position:relative;padding:27px;cursor:pointer;font:20px Verdana,Helvetica,sans-serf;}
#menu div:hover{color:#FF0808;}
#logo{margin-top:10px;margin-bottom:10px;margin-left:70px;width:132px;height:56px;cursor:pointer;}
#centerlogo{margin-top:5px;margin-bottom:5px;width:66px;height:28px;cursor:pointer;}
#main{text-align:center;padding:0px;font-size:18px;min-height:calc(100vh - 137px);background-color:#F2F2F2;}
#footer{text-align:center;color: #CECECE;font-size: 14px;background-color:#2C2A23;height:20px;padding-top:5px;padding-bottom:5px;width:100%;}
#Tos{text-decoration:none;color:#41B6DD;cursor:pointer;}
.respDisp{display:none;}
.homeItem div{display:inline-block;max-width:calc(100% - 155px);max-height:150px;vertical-align:middle;}
.homeItem{padding:0px;margin:10px;width:calc(100vw - 80px);text-align:left;position:relative;}
.itemHeader{background-color:blue;width:calc(100vw - 200px);padding-right:30px;padding-left:30px;padding-top:10px;padding-bottom:10px;position:absolute;left:0px;top:0px;}
@media only screen and (max-width:700px){.stanDisp{display:none;}.respDisp{display:block;}}
#rblogo{height:150px;width:150px;}
.backItem{
	width:100%;
	text-align:center;	
}
.backImg{
	position:relative;
	width:1122px;
	height:1974px;
	vertical-align:middle;
	font: 18px Garamond,Georgia,sans-serif;
	background-image:url("rb1122.png");
	background-repeat: no-repeat;
	background-attachment:local;
    background-position: center;
    max-width:100vw;
}
@media only screen and (min-width:1100px){.backImg{background-image:url("rb2244.png");width:2244px;height:3948px;}}
.backText{
	width:calc(84vw - 8px);
	left:8vw;
	position:relative;
	top:180px;
	background-color:rgba(255, 255, 255, 0.5);
	padding:4px;
}
.readMore{background-color:#71E773;color:#e6e7e8;
	padding:8px;position:absolute;left:calc(50% - 61px);font:20px Verdana,Helvetica,sans-serf;cursor:pointer;}
#r{width:524px;height:368px;position:relative;top:100px;}
