body{margin:0px;background-color:#2C2A23;}a{text-decoration:none;}
#headerBody{background-color:#2C2A23;width:100%;height:76px;position:fixed;top:0px;left:0px;z-index:10;}
#hBack{background-color:#2C2A23;width:100%;height:76px;}
#header .respDisp{background-color:#2C2A23;width:100%;height:56px;position:relative;text-align:center;}
#menu{position: absolute;right:70px;height:76px;top:0px;}
#menu div{display:inline-block;color:#CECECE;position:relative;padding:27px;cursor:pointer;font:20px Verdana,Helvetica;}
#menu div:hover{color:#FF0808;}
#logo{margin-top:10px;margin-bottom:10px;margin-left:70px;width:132px;height:56px;cursor:pointer;}
#centerlogo{margin-top:8px;margin-bottom:8px;width:99px;height:42px;cursor:pointer;}
#main{display:none;text-align:center;padding:0px;font-size:18px;min-height:calc(100vh - 102px);background-color:#F2F2F2;}
#footer{text-align:center;color: #CECECE;font-size: 14px;background-color:#2C2A23;height:20px;padding-top:5px;padding-bottom:5px;width:100%;}
#Tos{color:#41B6DD;cursor:pointer;}
.respDisp{display:none;}
.homeItem div{display:inline-block;font:18px Verdana,Helvetica;max-width:calc(100% - 155px);max-height:150px;vertical-align:middle;}
.homeItem{padding-top:15px;
padding-bottom:15px;width:100vw;text-align:left;position:relative;}
.itemHeader{background-color:blue;width:calc(100vw - 200px);padding-right:30px;padding-left:30px;padding-top:10px;padding-bottom:10px;position:absolute;left:0px;top:0px;}
@media only screen and (max-width:700px){.stanDisp{display:none;}.respDisp{display:block;}}
#rblogo{height:150px;width:150px;}
.backItem{width:100%;text-align:center;}
.backImg{position:relative;width:1122px;height:1785px;vertical-align:middle;font:18px Garamond,Georgia;background-image:url("rb1122.png");background-repeat: no-repeat;background-position: center;max-width:100vw;}
@media only screen and (min-width:1100px){.backImg{background-image:url("rb2244.png");width:2244px;height:3570px;}}
.backText{width:calc(84vw - 8px);left:8vw;position:relative;margin-top:130px;
background-color:rgba(255,255,255,0.7);padding:4px;
border-radius:8px;border-bottom:3px solid #1f1f1f;border-right:2px solid #1f1f1f;}
.backText:nth-of-type(even){border-bottom:3px solid red;border-right:2px solid red;}
.more{background-color:#71E773;color:#e6e7e8;padding:8px;top:70px;position:relative;border-radius:4px;
font:20px Andale Mono,Helvetica,sans-serf;cursor:pointer;}
#r{width:480px;max-width:75vw;position:relative;top:100px;}
#l{width:240px;max-width:74%;margin-bottom:30px;}
.desc{color:#2C2A23;padding:25px;font:18px Verdana,Helvetica;}
#rback{height:247px;vertical-align:middle;background-image:url('rback.png');color:#FF0808}
#parThree{font-family:Verdana,Helvetica;position:relative;padding-top:80px;padding-bottom:80px;padding-left:30px;padding-right:30px;}
.three{width:calc(33% - 23px);min-width:220px;margin-bottom:50px;display:inline-block;vertical-align:top;padding-left:10px;padding-right:10px;word-break:break-word;}
.three span,#term span{border-bottom:3px solid red;font-size:22px;width:70%;display:inline-block;font-weight:700;padding-bottom:10px;}
#term{font-family:Verdana,Helvetica;padding:40px;}
